<div class="portfolio">
  <h1> <%= @portfolio.name %> </h1>
  <!-- <h1> Portfolio Name </h1> -->
  <div class="total">
    Total Value: $<%= @portfolio.current_value %>
  </div>

  <div class="portfolio-charts">
    <h2>Portfolio Breakdown:</h2>

    <h3>Stock Position Allocations</h3>
      <div class=pie-num>
          <%= pie_chart @data %>
      </div>

    <h3>Gains and Losses (Percent Change)</h3>
    <div class=pie-gains>
        <%= column_chart @gains %>
    </div>

  <!-- <div class=pie-losses>
      <%= pie_chart @data %>
  </div> -->

  </div>

  <div class="stocks">
    <h2>Stocks:</h2>

      <% @portfolio.stocks.each do|stock| %>
      <div class="single-stock">
        <span><a href="/stocks/<%= stock.symbol%>"> <%=stock.name%> </span>
        <span>(<%=stock.symbol%>):</a> </span> <br>
        <span>Number of Shares: <%= stock.volume%></span> <br>
        <span>Buy Price: <%= stock.buy_price%></span> <br>
        <span>Cost Basis: <%= stock.cost_basis%></span> <br>
        <span>Market Price: <%= stock.current_price%></span> <br>
        <span>Market Value: <%= stock.current_value %></span> <br>
        <span>Gains/Losses: <%=stock.percent_change %>%</span>
      </div>
      <% end %>
  </div>

  <a href="/portfolios">Go Back</a>
</div>
