<div class="portfolio">
  <h1> <%= @portfolio.name %> </h1>
  <!-- <h1> Portfolio Name </h1> -->
  <div class="total">
    Total Happiness: $<%= @portfolio.current_value %>
  </div>

  <div class="portfolio-charts">
    <h2>Portfolio Breakdown:</h2>
    <h3>Cool PieChart Here</h3>

    <%= pie_chart @data %>
    <h1>( <)</h1>
    <ul>
      <li>40% Apple Inc. (AAPL) </li>
      <li>40% Google (GOOG)</li>
      <li>20% Chipotle (CMG)</li>
      (This will be part of the pie chart)
    </ul>
  </div>

  <div class="stocks">
    <h2>Stocks:</h2>

      <% @portfolio.stocks.each do|stock| %>
      <div class="single-stock">
        <span><a href="/stocks/<%= stock.symbol%>"> <%=stock.name%> </span>
        <span>(<%=stock.symbol%>):</a> </span> <br>
        <span>Number of Shares: <%= stock.volume%></span> <br>
        <span>Buy Price: <%= stock.buy_price%></span> <br>
        <span>Cost Basis: <%= stock.cost_basis%></span> <br>
        <span>Market Price: <%= stock.current_price%></span> <br>
        <span>Market Value: <%= stock.current_value %></span> <br>
        <span>Gains/Losses: <%=stock.percent_change %>%</span>
      </div>
      <% end %>
  </div>

  <a href="/portfolios">Go Back</a>
</div>
