<div class="portfolio">
  <h1> <%= @portfolio.name %> </h1>
  <!-- <h1> Portfolio Name </h1> -->
  <div class="total">
    Total Happiness: $<%= @portfolio.current_value %>
  </div>

  <div class="portfolio-charts">
    <h2>Portfolio Breakdown:</h2>
    <h3>Cool PieChart Here</h3>


    <h1>( <)</h1>
    <ul>
      <li>40% Apple Inc. (AAPL) </li>
      <li>40% Google (GOOG)</li>
      <li>20% Chipotle (CMG)</li>
      (This will be part of the pie chart)
    </ul>
  </div>

  <div class="stocks">
    <h2>Stocks:</h2>

    <ul>
      <% @portfolio.stocks.each do|stock| %>
      <li><a href="/stocks/<%= stock.symbol%>"> <%=stock.name%> (<%=stock.symbol%>): <%=stock.percent_change%> %</a> </li>
      <% end %>
    </ul>
  </div>

  <a href="/portfolios">Go Back</a>
</div>
