<div class="portfolio">
  <h1> <%= @portfolio.name %> </h1>
  <!-- <h1> Portfolio Name </h1> -->
  <div class="total">
    Total Value: $<%= @portfolio.current_value %>
  </div>

  <div class="portfolio-charts">
    <h2>Portfolio Breakdown:</h2>

      <div class="pie-num">
        <h3>Stock Position Allocations</h3>
          <%= pie_chart @data %>
      </div>

    <div class="pie-gains">
      <h3>Gains and Losses (Percent Change)</h3>
        <%= column_chart @gains %>
    </div>

  <!-- <div class=pie-losses>
      <%= pie_chart @data %>
  </div> -->

  </div>

  <div class="stocks positions">
    <h2>Stocks:</h2>

      <div class="heading">
        <span>Ticker</span>
        <span>Name</span>
        <span># of Shares</span>
        <span>Buy Price</span>
        <span>Cost Basis</span>
        <span>Market Price</span>
        <span>Market Value</span>
        <span>Gains/Losses</span>
      </div>

      <% @portfolio.stocks.each do|stock| %>
      <div class="single-stock">
        <a href="/stocks/<%= stock.symbol%>">
          <span><%=stock.symbol %></span>
          <span><%= stock.name %> </span>
          <span><%= stock.volume %></span>
          <span><%= stock.buy_price %></span>
          <span><%= stock.cost_basis.to_i %></span>
          <span><%= stock.current_price%></span>
          <span><%= stock.current_value.to_i %></span>
          <span><%=stock.percent_change %>%</span>
        </a>
      </div>
      <% end %>
  </div>

  <a href="/portfolios">Go Back</a>
</div>
