<div class="">
    <div class="">
      <h2><%=@stock['symbol']%></h2>
      <li><span>Market Price:</span><%= @stock['LastTradePriceOnly']%></li>
      <li><span>Bid:</span><%= @stock['Bid']%></li>
      <li><span>Ask:</span><%= @stock['Ask']%></li>
      <li><span>Market Cap:</span><%= @stock['MarketCapitalization']%></li>
      <li><span>Change %:</span><%= @stock['PercentChange']%></li>
      <li><span>Change:</span><%= @stock['Change']%></li>
    </div>

  <div class="">
    <h3>Buy Form</h3>
    <form class="" action="/buy" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <label for="">Portfolio:</label>
      <select name="stock[portfolio_id]">
        <% user_portfolios.each do |p| %>
          <option value="<%= p.id %>"><%= p.name %></option>
        <% end %>
      </select><br>
      <input type="text" name="stock[buy_price]" value="<%=@stock['LastTradePriceOnly']%>"><br>
      <label for=""># of shares:</label>
      <input type="number" name="stock[volume]" value=""><br>
      <label for="">Name:</label>
      <input type="text" name="stock[name]" value="<%= @stock['Name']%>"><br>
      <label for="">Symbol:</label>
      <input type="text" name="stock[symbol]" value="<%= @stock['Symbol']%>"><br>
      <input type="submit" name="name" value="Buy">
    </form>
  </div>

  <div class="">
    <h3>Sell Form</h3>
    <form class="" action="/sell" method="post">
      <input type="hidden" name="_method" value="put">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <label for="">Portfolio:</label>
      <select name="stock[portfolio_id]">
        <% user_portfolios.each do |p| %>
          <option value="<%= p.id %>"><%= p.name %></option>
        <% end %>
      </select><br>
      <input type="text" name="stock[buy_price]" value="<%=@stock['LastTradePriceOnly']%>"><br>
      <label for=""># of shares:</label>
      <input type="number" name="stock[volume]" value=""><br>
      <label for="">Name:</label>
      <input type="text" name="stock[name]" value="<%= @stock['Name']%>"><br>
      <label for="">Symbol:</label>
      <input type="text" name="stock[symbol]" value="<%= @stock['Symbol']%>"><br>
      <input type="submit" name="name" value="Sell">
    </form>
  </div>

</div>
