<!DOCTYPE html>
<html>

  <title>Stock Portfolio Manager</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %> <body>
    <%if current_user%>
    <div class="w3-container w3-top w3-black w3-large w3-padding" style="z-index:4">
      <span class="w3-right"><a href="/session/logout">Logout</a></span>
      <span>
        <form class="search-form" action="/stocks/search" method="get">
          <input type="text" name="stock" placeholder="Search by Ticker"/>
          <input class="hidden" type="submit" value="Search">
        </form>
      </span>
      <span class="w3-right"><a href="/portfolios">Profile</a></span>
    </div>
    <%else%>
    <div class="w3-container w3-top w3-black w3-large w3-padding" style="z-index:4">
      <span class="w3-right"><a href="/users/new">Register</a></span>
      <span class="w3-right"><a href="/session/login">Sign In</a></span>
    </div>
    <%end%>

    <div class="main  container">
          <%= yield %>
    </div>

  </body>
</html>
